* {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); 
}

.restaurant-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1490px;
    margin: 0 auto;
}

.restaurant-nav .logo {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}

.restaurant-nav .logo img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.menu-links {
    list-style-type: none;
    display: flex;
    gap: 70px;
}

.menu-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu-links li a:hover {
    color: #ffc107;
}

.our-menu
{
    background: url(our-menu-bg.jpg);
    height: 90vh;
}

.heading
{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 1.3px;
    padding-top: 5%;
}

.sub-heading
{
    text-align: center;
    color: burlywood;
    font-size: 1.2rem;
    font-weight: 300;
    padding: .5rem 2rem;
    background: black;
    display: inline-block;
}

.our-menu .item-name h2
{
    font-size: 3rem;
    color: white;
    font-weight: 300;
}

.our-menu .item-menu h3
{
    font-size: xx-large;
    color: white;
    font-weight: 200;
    display: inline-block;
}

.menu-list {
    width: 50%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-left: 25%;
    display: flex;
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
}

.menu-column {
    width: 45%;
}

.menu-column table {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;

}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    display: inline;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
}
